
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form id="classform">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="classname" name="classname" required>
        <label for="classname">Add Class</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="description" id="description"/>
        <label for="description">Description</label>
    </div>
    <button type="submit" class="btn btn-primary" id="submitClass">Add Class</button>
    <br/>

</form>