@model ClassModal
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (Model != null)
{
    <form id="updateclassform">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="classname" name="classname" value="@Model.classname" required>
            <label for="classname">Add Class</label>
        </div>
        <input type="type" name="classId" value="@Model.classId" hidden/>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="description" id="description" value="@Model.description"/>
            <label for="description">Description</label>
        </div>
        <button type="submit" class="btn btn-primary" id="updateClass">Update</button>
        <br />
    </form>
}