
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form>
    <div class="form-floating mb-3">
        <label for="name">Your Name : </label>
        <input type="text" name="name" value="" id="name" />
    </div>
    <br />

    <div class="form-floating mb-3">
        <label for="roll">Roll No : </label>
        <input type="number" name="roll" id="roll" />
    </div>
    <br />
    <div class="form-floating mb-3">
        <label for="adress">Adress : </label>
        <input type="text" name="adress" id="adress"/>
    </div>
    <br />
    <div class="form-floating mb-3">
        <label for="state">State : </label>
        <input type="text" name="state" id="state" />
    </div>
    <div class="row">
        <div class="col-md-12">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button"  class="btn btn-primary submit-data" id="submitForm">Save changes</button>
    </div>
    </div>
    
</form>



    <script>
        $(document).ready(function(){
            $(".submit-data").click(function(e){
            e.preventDefault();

            $.ajax({
                type : "POST",
                url : "/Home/AddUser",
                data : {
                    name : $("#name").val(),
                    roll : $("#roll").val(),
                    adress : $("#adress").val(),
                    state : $("#state").val()
                },
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function(response) {
                    console.log("Karan");
                    UpdateTableData();

            },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error("Error submitting data:", textStatus, errorThrown);
                }
            })
        })

        });
    </script>
